<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</h:head>

	<h:body>
	    <ui:composition template="/WEB-INF/facelets/template.xhtml">	
		 
		 	<ui:define name="body">	
				<f:view>
			<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>               
					<p:dialog modal="true" widgetVar="statusDialog" header="Loading"  draggable="false" closable="false">  
   						<p:graphicImage value="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/ajaxloadingbar.gif" />   
					</p:dialog>
					
					<!-- Expired session -->
					<p:idleMonitor onactive="PF('sessionTimeOutDialog').show();" timeout="#{session.maxInactiveInterval * 1000}" />
					<p:dialog modal="true" widgetVar="sessionTimeOutDialog" header="Expired session"  draggable="false" closable="false">  
	   					<h:outputText value="The session is finished" />
	                 	<input id="confirmBackToLogin" 
	                 		type="button" 
	                 		value="Sign in"
	                    	onclick="window.location='#{facesContext.externalContext.requestContextPath}/index.jsp';" />   
					</p:dialog>
		 
		 <h:form id="form">
			
			 
			<p:panel id="msgProjectClientesTitle" header="ExpectedResultData">
					<p:messages id="msg" />
				<p:dataTable id ="tabla" value="#{expectedResultView.data}" var="expectedResult"
					paginator="true" rows="5"  editable="true" >
					 
					 <p:ajax event ="rowEdit" update=":form:msg,:form:tabla" listener="#{expectedResultView.rowEventListener}" />
					
															<p:column filterBy="#{expectedResult.idRslt}" sortBy="#{expectedResult.idRslt}" headerText="idRslt">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{expectedResult.idRslt}"/>
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{expectedResult.idRslt}"/>
							</f:facet>
						</p:cellEditor>
					</p:column>
                    										
											
						<p:column filterBy="#{expectedResult.nameRslt}" sortBy="#{expectedResult.nameRslt}" 
							headerText="nameRslt">
							
								<p:cellEditor>
								
								<f:facet name="output">
									<h:outputText value="#{expectedResult.nameRslt}"/>
								</f:facet>
							
								<f:facet name="input">
									<p:inputText value="#{expectedResult.nameRslt}"/>
								</f:facet>
								</p:cellEditor>	
							</p:column>
						
										
											
					<p:column headerText="Options" >
						<p:rowEditor id="row"/>
						<p:tooltip for="row" value="Edit" showEffect="fade" hideEffect="fade" />
						<p:tooltip for="btnDelete" value="Delete" showEffect="fade" hideEffect="fade" />
						<p:commandButton id="btnDelete" actionListener="#{expectedResultView.actionDeleteDataTableEditable}" title="Delete" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" icon="ui-icon-trash" update=":form:msg,:form:tabla" >
							<f:attribute name="selectedExpectedResult" value="#{expectedResult}" />  
						</p:commandButton>
						
					</p:column>	
				
				</p:dataTable>	
					
				
			</p:panel>
				
	   </h:form>
		 </f:view>
			</ui:define>		
		</ui:composition>	
	
	</h:body>	
	
</html>	