<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</h:head>

	<h:body>
		  <ui:composition template="/WEB-INF/facelets/template.xhtml">	
		 
		 	<ui:define name="body">	
				<f:view>
					<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>               
					<p:dialog modal="true" widgetVar="statusDialog" header="Loading"  draggable="false" closable="false">  
   						<p:graphicImage value="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/ajaxloadingbar.gif" />   
					</p:dialog>
					
					<!-- Expired session -->
					<p:idleMonitor onactive="PF('sessionTimeOutDialog').show();" timeout="#{session.maxInactiveInterval * 1000}" />
					<p:dialog modal="true" widgetVar="sessionTimeOutDialog" header="Expired session"  draggable="false" closable="false">  
	   					<h:outputText value="The session is finished" />
	                 	<input id="confirmBackToLogin" 
	                 		type="button" 
	                 		value="Sign in"
	                    	onclick="window.location='#{facesContext.externalContext.requestContextPath}/index.jsp';" />   
					</p:dialog>
					
		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableExpectedResult" header="ExpectedResultData">
							<p:growl id="men"/>				
							<p:dataTable value="#{expectedResultView.data}" var="expectedResult"
								paginator="true" rows="5">
																										<p:column filterBy="#{expectedResult.idRslt}" sortBy="#{expectedResult.idRslt}" >
										 <f:facet name="header">
										<h:outputText value="idRslt"/>
										</f:facet>
										 <h:outputText value="#{expectedResult.idRslt}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{expectedResult.nameRslt}" sortBy="#{expectedResult.nameRslt}" >
										 <f:facet name="header">
										<h:outputText value="NameRslt"/>
										</f:facet>
										 <h:outputText value="#{expectedResult.nameRslt}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogExpectedResult"
										actionListener="#{expectedResultView.action_edit}">
										<f:attribute name="selectedExpectedResult" value="#{expectedResult}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{expectedResultView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedExpectedResult" value="#{expectedResult}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{expectedResultView.action_new()}" update=":dialogExpectedResult" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogExpectedResult" appendTo="@(body)" draggable="true"
						closable="false" visible="#{expectedResultView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelExpectedResult" header="ExpectedResult">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgIdRslt" value="IdRslt"/>
									 <p:inputText id="txtIdRslt" binding="#{expectedResultView.txtIdRslt}">
									 <p:ajax update=":dialogExpectedResult" listener="#{expectedResultView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgNameRslt" value=" NameRslt"/>
									<p:inputText id="txtNameRslt" disabled="true" binding="#{expectedResultView.txtNameRslt}"/>
																		
																    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{expectedResultView.btnSave}" value="Save" action="#{expectedResultView.action_save()}" update=":dialogExpectedResult :frm:panelDataTableExpectedResult" />
									<p:commandButton id="btnClear" value="Clear" action="#{expectedResultView.action_clear()}" update=":dialogExpectedResult" />
									<p:commandButton id="btnExit" value="Exit" action="#{expectedResultView.action_closeDialog()}" update=":dialogExpectedResult" />
								</div>
							</p:panel>					
						</h:form>
					</p:dialog>
				</f:view>
			</ui:define>		
		</ui:composition>	
	</h:body>	
</html>	