<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</h:head>

	<h:body>
	    <ui:composition template="/WEB-INF/facelets/template.xhtml">	
		 
		 	<ui:define name="body">	
				<f:view>
			<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>               
					<p:dialog modal="true" widgetVar="statusDialog" header="Loading"  draggable="false" closable="false">  
   						<p:graphicImage value="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/ajaxloadingbar.gif" />   
					</p:dialog>
					
					<!-- Expired session -->
					<p:idleMonitor onactive="PF('sessionTimeOutDialog').show();" timeout="#{session.maxInactiveInterval * 1000}" />
					<p:dialog modal="true" widgetVar="sessionTimeOutDialog" header="Expired session"  draggable="false" closable="false">  
	   					<h:outputText value="The session is finished" />
	                 	<input id="confirmBackToLogin" 
	                 		type="button" 
	                 		value="Sign in"
	                    	onclick="window.location='#{facesContext.externalContext.requestContextPath}/index.jsp';" />   
					</p:dialog>
		 
		 <h:form id="form">
			
			 
			<p:panel id="msgProjectClientesTitle" header="ProjectData">
					<p:messages id="msg" />
				<p:dataTable id ="tabla" value="#{projectView.data}" var="project"
					paginator="true" rows="5"  editable="true" >
					 
					 <p:ajax event ="rowEdit" update=":form:msg,:form:tabla" listener="#{projectView.rowEventListener}" />
					
															<p:column filterBy="#{project.idPrj}" sortBy="#{project.idPrj}" headerText="idPrj">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{project.idPrj}"/>
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{project.idPrj}"/>
							</f:facet>
						</p:cellEditor>
					</p:column>
                    										
											
						<p:column filterBy="#{project.financeProj}" sortBy="#{project.financeProj}" 
							headerText="financeProj">
							
								<p:cellEditor>
								
								<f:facet name="output">
									<h:outputText value="#{project.financeProj}"/>
								</f:facet>
							
								<f:facet name="input">
									<p:inputText value="#{project.financeProj}"/>
								</f:facet>
								</p:cellEditor>	
							</p:column>
						
											
						<p:column filterBy="#{project.namePrj}" sortBy="#{project.namePrj}" 
							headerText="namePrj">
							
								<p:cellEditor>
								
								<f:facet name="output">
									<h:outputText value="#{project.namePrj}"/>
								</f:facet>
							
								<f:facet name="input">
									<p:inputText value="#{project.namePrj}"/>
								</f:facet>
								</p:cellEditor>	
							</p:column>
						
											
						<p:column filterBy="#{project.idRslt_ExpectedResult}" sortBy="#{project.idRslt_ExpectedResult}" 
							headerText="idRslt_ExpectedResult">
							
								<p:cellEditor>
								
								<f:facet name="output">
									<h:outputText value="#{project.idRslt_ExpectedResult}"/>
								</f:facet>
							
								<f:facet name="input">
									<p:inputText value="#{project.idRslt_ExpectedResult}"/>
								</f:facet>
								</p:cellEditor>	
							</p:column>
						
										
										   						 
						 <p:column filterBy="#{project.fechaFinalizacionFormulacion}" sortBy="#{project.fechaFinalizacionFormulacion}" 
							headerText="fechaFinalizacionFormulacion">
							
								<p:cellEditor>
								
								<f:facet name="output">
									<h:outputText value="#{project.fechaFinalizacionFormulacion}">
									  <f:convertDateTime  pattern="dd/MM/yyyy"/>
									</h:outputText>		
								</f:facet>
							
								<f:facet name="input">
									<p:calendar value="#{project.fechaFinalizacionFormulacion}" showOn="button" pattern="dd/MM/yyyy" navigator="true" >
									  <f:convertDateTime  pattern="dd/MM/yyyy" timeZone="#{projectView.timeZone}" />	
								    </p:calendar>		
								</f:facet>
								</p:cellEditor>	
							</p:column>
						
					   						 
						 <p:column filterBy="#{project.fechaInicioFormulacion}" sortBy="#{project.fechaInicioFormulacion}" 
							headerText="fechaInicioFormulacion">
							
								<p:cellEditor>
								
								<f:facet name="output">
									<h:outputText value="#{project.fechaInicioFormulacion}">
									  <f:convertDateTime  pattern="dd/MM/yyyy"/>
									</h:outputText>		
								</f:facet>
							
								<f:facet name="input">
									<p:calendar value="#{project.fechaInicioFormulacion}" showOn="button" pattern="dd/MM/yyyy" navigator="true" >
									  <f:convertDateTime  pattern="dd/MM/yyyy" timeZone="#{projectView.timeZone}" />	
								    </p:calendar>		
								</f:facet>
								</p:cellEditor>	
							</p:column>
						
					   						 
						 <p:column filterBy="#{project.fechaPresentacionPropuesta}" sortBy="#{project.fechaPresentacionPropuesta}" 
							headerText="fechaPresentacionPropuesta">
							
								<p:cellEditor>
								
								<f:facet name="output">
									<h:outputText value="#{project.fechaPresentacionPropuesta}">
									  <f:convertDateTime  pattern="dd/MM/yyyy"/>
									</h:outputText>		
								</f:facet>
							
								<f:facet name="input">
									<p:calendar value="#{project.fechaPresentacionPropuesta}" showOn="button" pattern="dd/MM/yyyy" navigator="true" >
									  <f:convertDateTime  pattern="dd/MM/yyyy" timeZone="#{projectView.timeZone}" />	
								    </p:calendar>		
								</f:facet>
								</p:cellEditor>	
							</p:column>
						
					   											
					<p:column headerText="Options" >
						<p:rowEditor id="row"/>
						<p:tooltip for="row" value="Edit" showEffect="fade" hideEffect="fade" />
						<p:tooltip for="btnDelete" value="Delete" showEffect="fade" hideEffect="fade" />
						<p:commandButton id="btnDelete" actionListener="#{projectView.actionDeleteDataTableEditable}" title="Delete" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" icon="ui-icon-trash" update=":form:msg,:form:tabla" >
							<f:attribute name="selectedProject" value="#{project}" />  
						</p:commandButton>
						
					</p:column>	
				
				</p:dataTable>	
					
				
			</p:panel>
				
	   </h:form>
		 </f:view>
			</ui:define>		
		</ui:composition>	
	
	</h:body>	
	
</html>	