<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</h:head>		
	
	<h:body>
		<ui:composition template="/WEB-INF/facelets/template.xhtml">	
		<ui:define name="body">	
		<f:view>
			<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>               
			<p:dialog modal="true" widgetVar="statusDialog" header="Loading"  draggable="false" closable="false">  
   				<p:graphicImage value="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/ajaxloadingbar.gif" />   
			</p:dialog>
			<!-- Expired session -->
					<p:idleMonitor onactive="PF('sessionTimeOutDialog').show();" timeout="#{session.maxInactiveInterval * 1000}" />
					<p:dialog modal="true" widgetVar="sessionTimeOutDialog" header="Expired session"  draggable="false" closable="false">  
	   					<h:outputText value="The session is finished" />
	                 	<input id="confirmBackToLogin" 
	                 		type="button" 
	                 		value="Sign in"
	                    	onclick="window.location='#{facesContext.externalContext.requestContextPath}/index.jsp';" />   
					</p:dialog>
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelProject" header="Project">							
						<h:panelGrid columns="2" id="panelGrid" >
																		
													<h:outputText id="msgNamePrj" value=" Nombre *"/>
							<p:inputText id="txtNamePrj" disabled="false" binding="#{projectView.txtNamePrj}"/>
													<h:outputText id="msgFinanceProj" value=" Informe sobre Financiación *"/>
							<p:inputTextarea id="txtFinanceProj" disabled="false" binding="#{projectView.txtFinanceProj}"/>
													<h:outputText id="msgIdRslt_ExpectedResult" value=" Resultado Esperado *"/>
							<p:selectOneMenu id="somAnoFiscal"
								binding="#{projectView.somExp}">
								<f:selectItems value="#{projectView.expectedResults}" />
							</p:selectOneMenu>
																	
																				<h:outputText id="msgFechaInicioFormulacion" value=" Fecha de Inicio de la Formulación *"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{projectView.txtFechaInicioFormulacion}" >
								<p:ajax event="dateSelect" listener="#{projectView.listener_txtFechaInicioFormulacion}" />
							</p:calendar>
																				<h:outputText id="msgFechaFinalizacionFormulacion" value=" Fecha de finalización de la formulación *"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{projectView.txtFechaFinalizacionFormulacion}" >
								<p:ajax event="dateSelect" listener="#{projectView.listener_txtFechaFinalizacionFormulacion}" />
							</p:calendar>
														<h:outputText id="msgFechaPresentacionPropuesta" value=" Fecha planeada para la presentación de la propuesta *"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{projectView.txtFechaPresentacionPropuesta}" >
								<p:ajax event="dateSelect" listener="#{projectView.listener_txtFechaPresentacionPropuesta}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{projectView.btnSave}" disabled="false" value="Save" action="#{projectView.action_save()}" update="panelProject,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{projectView.action_clear()}" update="panelProject,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
		</f:view>
			</ui:define>		
		</ui:composition>	
	</h:body>	
</html>	