<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</h:head>

	<h:body>
		  <ui:composition template="/WEB-INF/facelets/template.xhtml">	
		 
		 	<ui:define name="body">	
				<f:view>
					<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>               
					<p:dialog modal="true" widgetVar="statusDialog" header="Loading"  draggable="false" closable="false">  
   						<p:graphicImage value="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/ajaxloadingbar.gif" />   
					</p:dialog>
					
					<!-- Expired session -->
					<p:idleMonitor onactive="PF('sessionTimeOutDialog').show();" timeout="#{session.maxInactiveInterval * 1000}" />
					<p:dialog modal="true" widgetVar="sessionTimeOutDialog" header="Expired session"  draggable="false" closable="false">  
	   					<h:outputText value="The session is finished" />
	                 	<input id="confirmBackToLogin" 
	                 		type="button" 
	                 		value="Sign in"
	                    	onclick="window.location='#{facesContext.externalContext.requestContextPath}/index.jsp';" />   
					</p:dialog>
					
		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableProject" header="ProjectData">
							<p:growl id="men"/>				
							<p:dataTable value="#{projectView.data}" var="project"
								paginator="true" rows="5">
																										<p:column filterBy="#{project.idPrj}" sortBy="#{project.idPrj}" >
										 <f:facet name="header">
										<h:outputText value="idPrj"/>
										</f:facet>
										 <h:outputText value="#{project.idPrj}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{project.fechaFinalizacionFormulacion}" sortBy="#{project.fechaFinalizacionFormulacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaFinalizacionFormulacion"/>
										</f:facet>
										 <h:outputText value="#{project.fechaFinalizacionFormulacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{project.fechaInicioFormulacion}" sortBy="#{project.fechaInicioFormulacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaInicioFormulacion"/>
										</f:facet>
										 <h:outputText value="#{project.fechaInicioFormulacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{project.fechaPresentacionPropuesta}" sortBy="#{project.fechaPresentacionPropuesta}" >
										 <f:facet name="header">
										<h:outputText value="FechaPresentacionPropuesta"/>
										</f:facet>
										 <h:outputText value="#{project.fechaPresentacionPropuesta}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{project.financeProj}" sortBy="#{project.financeProj}" >
										 <f:facet name="header">
										<h:outputText value="FinanceProj"/>
										</f:facet>
										 <h:outputText value="#{project.financeProj}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{project.namePrj}" sortBy="#{project.namePrj}" >
										 <f:facet name="header">
										<h:outputText value="NamePrj"/>
										</f:facet>
										 <h:outputText value="#{project.namePrj}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{project.idRslt_ExpectedResult}" sortBy="#{project.idRslt_ExpectedResult}" >
										 <f:facet name="header">
										<h:outputText value="IdRslt_ExpectedResult"/>
										</f:facet>
										 <h:outputText value="#{project.idRslt_ExpectedResult}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogProject"
										actionListener="#{projectView.action_edit}">
										<f:attribute name="selectedProject" value="#{project}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{projectView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedProject" value="#{project}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{projectView.action_new()}" update=":dialogProject" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogProject" appendTo="@(body)" draggable="true"
						closable="false" visible="#{projectView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelProject" header="Project">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgIdPrj" value="IdPrj"/>
									 <p:inputText id="txtIdPrj" binding="#{projectView.txtIdPrj}">
									 <p:ajax update=":dialogProject" listener="#{projectView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgFinanceProj" value=" FinanceProj"/>
									<p:inputText id="txtFinanceProj" disabled="true" binding="#{projectView.txtFinanceProj}"/>
																		<h:outputText id="msgNamePrj" value=" NamePrj"/>
									<p:inputText id="txtNamePrj" disabled="true" binding="#{projectView.txtNamePrj}"/>
																		<h:outputText id="msgIdRslt_ExpectedResult" value=" IdRslt_ExpectedResult"/>
									<p:inputText id="txtIdRslt_ExpectedResult" disabled="true" binding="#{projectView.txtIdRslt_ExpectedResult}"/>
																		
																													<h:outputText id="msgFechaFinalizacionFormulacion" value=" FechaFinalizacionFormulacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{projectView.txtFechaFinalizacionFormulacion}" >
										<p:ajax event="dateSelect" listener="#{projectView.listener_txtFechaFinalizacionFormulacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaInicioFormulacion" value=" FechaInicioFormulacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{projectView.txtFechaInicioFormulacion}" >
										<p:ajax event="dateSelect" listener="#{projectView.listener_txtFechaInicioFormulacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaPresentacionPropuesta" value=" FechaPresentacionPropuesta"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{projectView.txtFechaPresentacionPropuesta}" >
										<p:ajax event="dateSelect" listener="#{projectView.listener_txtFechaPresentacionPropuesta}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{projectView.btnSave}" value="Save" action="#{projectView.action_save()}" update=":dialogProject :frm:panelDataTableProject" />
									<p:commandButton id="btnClear" value="Clear" action="#{projectView.action_clear()}" update=":dialogProject" />
									<p:commandButton id="btnExit" value="Exit" action="#{projectView.action_closeDialog()}" update=":dialogProject" />
								</div>
							</p:panel>					
						</h:form>
					</p:dialog>
				</f:view>
			</ui:define>		
		</ui:composition>	
	</h:body>	
</html>	