<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title>Signin</title>
		<meta name="content-type" content="text/html; charset=UTF-8"/>
		<link REL="SHORTCUT ICON" href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/icon.png"/>
		<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/css/stylelogin.css" />
    </h:head>
	<h:body>
		<div class="container">
		
		   <h:form styleClass="form-signin">
   				<p:growl id="msgGrowl" autoUpdate="true" showDetail="false"/>
   				 <h2 class="form-signin-heading">Please sign in</h2>
				
                <p:inputText id="usernameField" name="j_username" value="#{loginView.userId}" placeholder="admin" styleClass="form-control"/>
            
                <p:password id="passwordField" name="j_password" value="#{loginView.password}" placeholder="admin" feedback="false" styleClass="form-control"/>
               
                <p:commandButton styleClass="btn btn-lg btn-primary btn-block" value="Sign in"  action="#{loginView.login}" update="msgGrowl"/>
	     
	     	</h:form>
	      
    	</div>
	</h:body>
</html>